<div>
  <form action="/Game" method="post">
    <p> Place your ship <p>
    <label for="Cordinates">Co-ordinates</label>
    <input type="text" name="Coordinates">
    <label for="Orientation">Orientation</label>
    <input type="text" name="Orientation">
    <input type="submit" value="Start Game">
  </form>
</div>