<form action= "/Game">
  Enter your coordinates
    <input type="text" name="Coordinates">
  Enter the orientation
    <input type="text" name="Orientation">
    <input type="submit" value="Place ship">
</form>